@{

}
@model BartenderPOS.Models.DrinkOrder
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device=width" />
    <title>OrderQueue</title>
    <link rel="stylesheet" href="~/lib/styles.css" />
</head>
<body>
    <h1></h1>
    <nav class="TOPnavbar" align="center">
        <ul>
            <li><a asp-action="HomePage">Home</a></li>
            <li><a asp-action="DrinkMenu">Drink Menu</a></li>
            <li><a asp-action="OrderQueue">Order Queue</a></li>
            </ul>
        </nav>
    <div class="text-center">
        <br />
        <br />
        <h3>View Your Order Queue</h3>
        <br />
        <br />
        <h5> Your order of @Model.Honduran Honduran Lime </h5>
        <h5>               @Model.Rum Tropical Rum </h5>
        <h5>               @Model.LocalBrew bottle(s) of local beers </h5>
        <h5>               @Model.Doublepint Double Pint </h5>
        <h5>               @Model.PitcherPour pitcher(s)</h5>
        <br />
        <h6> Will be brought to you by the bartender Shortly</h6>
        <br />
        <br />
        <h6>Thanks for supporting your local E-Bar</h6>
    </div> 
</body>
</html>